.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row{
  padding: 0px !important;
  margin: 0px !important;
}

.main-intent-container{
  border-right: 3px solid #333;;
  padding: 1%;
  box-shadow: 3px 3px 3px #ccc;
}

.Lang-container{
  padding: 1%;
  border-bottom: thin solid #ccc;
}

.btn-main{
  border: thin solid #151923;
  background-color: #223b69;
  color: white;
  border-radius: 5px;
  padding: 24px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
}

.btn-main:hover{
  background-color: #1a263e;
  box-shadow: 3px 3px 3px #ccc;
}

.child-intent-btn{
  margin: 16px !important;
  border:thin solid blue;
  height: 160px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  border: thin solid #151923;
  background-color: #223b69;
  color: white;
}

.child-intent-btn:hover{
  background-color: #1a263e;
  box-shadow: 3px 3px 3px #ccc;
}
.child-intent-label{
  margin-top: 110px;
}